<%- include('partials/header') %>


<div class="image-wrapper">
    <h1><%= post.title %></h1>
    <img src="<%= post.img %>" alt="image">
    <p><%= post.data %></p>
</div>

 
<%- include('partials/footer') %>